<h1>Список товаров</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Цена</th>
      <th>Доставка из </th>
      <th colspan="5"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @ecomms.each do |ecomm| %>
      <tr>
        <td><%= ecomm.title %></td>
        <td><%= ecomm.description %></td>
        <td><%= ecomm.price %></td>
        <td><%= ecomm.location %></td>
        <td><%= link_to 'Просмотреть', ecomm %></td>
        <td><%= link_to 'Редактировать', edit_ecomm_path(ecomm) %></td>
        <td><%= link_to 'Удалить', ecomm, 'data-turbo-method': :delete, data: { confirm: 'Вы уверены?' } %></td>
         <%= form_with(url: cart_add_path) do |f| %>
      <td><%= f.hidden_field :id, value: ecomm.id %>
      <%= f.number_field :quantity, value: 0, min: 1 %>
      <%= f.submit "Добавить в корзину" %></td>
    <% end %> 
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Добавить товар', new_ecomm_path %></p>